@model List<Person>

<h1> This is view of EmployeeAdminController</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var employee in Model)
     {
         <tr scope="row">
              <td>
                <a href="/employee/detail?id=@employee.FirstName">@employee.FirstName</a>
              </td>
              <td>@employee.LastName</td>
              <td>@employee.Address</td>
              <td>@employee.Gender</td>
              <td>@employee.Salary</td>
          </tr>
     }
  </tbody>
</table>